#nav{
  margin-left: 70%;
}
.card{
  width: 18rem;
  height: 20px;
  
}
#card{
  display: flex;
  justify-content: space-around;
}
*{
  background-color:rgb(59, 194, 218);
}
#contact{
  border: 3px solid black;
  margin-top: 50px;


  
}
#btn2{
  margin-top: 6px;
}
#img{
  margin-top: 5px;
}
#asd{
  display: flex;
  justify-content: space-around;
  border: none;

}
#card-title{
  margin-top: 150px;
}
#text{
  border: none;
}
.menu_active{
  font-weight: bolder;
  border-bottom: 1px solid black;
  
}
#quote{
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
#btn{
  border-radius: 20px;
  background-color: white;
  color: blue;
}
#btn:hover{
  background-color: blue;
  color: white;
  border: none;
}
